<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
   <form method="post">
     {% csrf_token %}
     <input type="text" name="name" id="name" placeholder="نام">
     <br/>
     <input type="text" name="family" id="family" placeholder="فامیل">
     <br/>
     <input type="button" value="send" onclick="payam()">
   </form>


   <script>
     function payam(){
      var n=document.getElementById("name").value
      var f=document.getElementById("family").value
      var t=document.getElementsByName("csrfmiddlewaretoken")[0].value
      $.ajax({
type:'POST',
data:(name.n,family.f,csrfmiddlewaretoken.t),
url:'/',
success:function(res){
  alert("اموفقیت ثبت شد")
}
      }
      )
    }
   </script>  
</body>
</html>